.container {
    width: 40%;
    margin: 0 auto;
}

.page {
    padding: 3rem 0 0 0;
}

.app-header,
.app-footer {
    padding: 4rem 0;
}
.app-header {
    background: rgba(#000, 0.2);
    span {
        font-size: 2rem;
    }
}
.app-footer {
    .container {
        display: flex;
        justify-content: space-between;
        .social-links {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 1rem;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.entry-preview-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.25rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}