header.app-footer
    div.container
        div #{ new Date().getFullYear() } Retro Video Games UI 
        div.social-links
            ul
                li
                    a(href="#") Twitter
                li
                    a(href="#") Codepen
                li
                    a(href="#") Github
    