extends ./layout.pug
block body
    div.home-page
        div.container
            each entry, index in entries
                a(href=`entry/${entry.slug}`)
                    p #{index}
            