extends ./shared/layout.pug
block body
    div.page.new-post-page
        div.container
            a.back-link(href="/dashboard") Back
            form(action="/dashboard/new" method="post")
                div
                    label(for="title") Title
                    input#title(type="text" name="title")
                div
                    label(for="type") Type
                    input#type(type="text" name="type")
                div
                    label(for="image") Image
                    input#image(type="image" name="image")
                div
                    label(for="body") Post body
                    textarea#body.editable(name="body")
                div
                    input(type="submit" value="Save")