extends ./shared/layout.pug
block body
    div.page.dashboard-page
        div.container
            each entry, index in entries
                a(href=`entry/edit/${entry.slug}`)
                    include shared/entry-preview