extends ./shared/layout.pug
block body
    div.page.dashboard-page
        div.container.dash-actions
            a(href="/dashboard/new") New Entry
        div.container
            each entry, index in entries
                include shared/entry-edit
        div.pagination-container
            div.container 
                ul
                    li Page: 
                    - i = 0;
                    while i < pageCount 
                        if i % 12 === 0
                            li 
                                a(href=`/dashboard/?page=${i / 12 + 1}`) 
                                    span #{ i / 12 + 1 }
                        - i += 1