extends ./shared/layout.pug
block body
    div.page.dashboard-page
        div.container.dash-actions
            a(href="/dashboard/new") New Entry
        div.container
            each entry, index in entries
                include shared/entry-edit