extends ./shared/layout.pug
block body
    div.page.entry-page
        div.container
            a.back-link(href="/") Back
            div.entry-content
                h1 #{entry.title}
                div.entry-wysiwyg-body
                    div !{ entry.body }
                div.entry-meta
                    h5.meta-title Platform: 
                    span #{ entry.type }
                div.entry-share
                    h5.meta-title Share: 
                    span #{ entry.type }
                    