extends ./shared/layout.pug
block body
    div.page.home-page
        div.container
            each entry, index in entries
                include shared/entry-preview
        div.pagination-container
            div.container 
                ul
                    li Page: 
                    - i = 0;
                    while i < pageCount 
                        if i % 12 === 0
                            li 
                                a(href=`/?page=${i / 12 + 1}`) 
                                    span #{ i / 12 + 1 }
                        - i += 1