extends ./shared/layout.pug
block body
    div.page.new-post-page
        div.container
            a.back-link(href="/dashboard") Back
            form(action="/dashboard/new" method="post")
                div.form-grouping
                    label.meta-title(for="title") Title
                    input#title(type="text" name="title" placeholder="Entry Title")
                div.form-grouping
                    label.meta-title(for="type") Type
                    input#type(type="text" name="type" placeholder="Entry Type")
                div.form-grouping
                    label.meta-title(for="image") Image
                    input#image(type="image" name="image")
                div.form-grouping
                    label.meta-title(for="body") Post body
                    textarea#body.editable(name="body" rows="20")
                div.form-grouping
                    input.btn-submit(type="submit" value="Save")