header.app-footer
    div.container
        div #{ new Date().getFullYear() } Video Games UI
        div.social-links
            ul
                li
                    a(href="https://twitter.com/video_games_ui" target="_blank") Twitter