header.app-footer
    div.container
        div #{ new Date().getFullYear() } Video Game Curator Bot
        div.social-links
            ul
                li
                    a(href="https://www.facebook.com/Game-Curator-Bot-1178684325584374/" target="_blank") Facebook
                li
                    a(href="https://twitter.com/CuratorGame" target="_blank") Twitter