header.app-footer
    div.container
        div #{ new Date().getFullYear() } Blog Boilerplate
        div.social-links
            ul
                li
                    a(href="#" target="_blank") Link #1
                li
                    a(href="#" target="_blank") Link #2
                li
                    a(href="#" target="_blank") Link #3