.container {
    width: 95%;
    margin: 0 auto;
    @media (min-width: 800px) {
        width: 88%;
    }
    @media (min-width: 1170px) {
        width: 60%;
    }
    @media (min-width: 1470px) {
        width: 50%;
    }
    @media (min-width: 1700px) {
        width: 40%;
    }
}

.page {
    padding: 3rem 0 0 0;
}

.app-header,
.app-footer {
    padding: 4rem 0;
}
.app-header {
    background: rgba(#000, 0.04);
    span {
        font-size: 2rem;
    }
}
.app-footer {
    .container {
        display: flex;
        justify-content: space-between;
        .social-links {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 1rem;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}


.entry-image-preview {
    margin-bottom: 1.5rem;
}

.entry-preview-container {
    padding: 2.25rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .entry-preview {
        display: block;
        justify-content: space-between;
        align-items: baseline;
        @media (min-width: 800px) {
            display: flex;
        }
    }
    .entry-actions {
        display: flex;
        a {
            margin-left: 0.75rem;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.entry-page {
    .entry-meta {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

.dash-actions {
    display: flex;
}